html,
body {
  font-family: "Roboto", sans-serif;
}

.topnav {
  background-color: #343a40;
  text-align: center;
  color: #fff;
}

.h {
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.forum-page {
  height: 100%;
  width: 100%;
  background: #330d38;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #330d38 0%, #190d36 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#330d38),
    to(#190d36)
  );
  background: -o-linear-gradient(left, #330d38 0%, #190d36 100%);
  background: linear-gradient(to right, #330d38 0%, #190d36 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#330d38', endColorstr='#190d36', GradientType=1);
}

.form {
  margin-bottom: 30px;
  margin-top: 40px;
}

.heading {
  font-size: 20px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.form__post {
  text-align: center;
  margin-left: 80px;
  margin-bottom: 15px;
}

.btn {
  margin-top: -30px;
  margin-left: 10px;
  background-color: #ffb320;
}

.author-avator {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 100px;
}

.community-post-list li {
  padding: 33px 55px 65px;
  margin-bottom: 30px;
  overflow: hidden;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.28);
}

.community-post-list .community-post .post-content {
  padding-left: 100px;
}

.community-post-list .community-post .post-content h5 {
  font-size: 16px;
  color: #ff205f;
  font-weight: 400;
  margin-bottom: 10px;
}

.community-post-list .community-post .post-content h5 span {
  color: #7a7a7a;
  padding-left: 18px;
}

.community-post-list .community-post .post-content p {
  color: #fff;
  margin-bottom: 5px;
}

.community-post-list .community-post .post-content .post-date {
  font-size: 12px;
  color: #ffb320;
  margin-bottom: 18px;
}

.buttons {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn1 {
  margin-left: 250px;
  display: flex;
  flex-direction: row;
}

.dislikes {
  margin-left: 20px;
}

.dis {
  background-color: transparent;
  color: #ffb320;
  border: none;
  text-align: center;
  text-decoration: none;
}

.like {
  background-color: transparent;
  color: #ffb320;
  border: none;
  text-align: center;
  text-decoration: none;
}

.discuss {
  background-color: transparent;
  color: #ffb320;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
