.container-edit {
    margin-top: 70px;
    margin-left: 25%;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 50%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
}

.heading {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    padding-bottom: 10px;
}


.form-control-edit {
    color: white;
    padding-bottom: 20px;
    text-align: center;
    padding-left: 60px;
}

.details {
    color: goldenrod;
    text-transform: uppercase;
    font-size: 15px;

}

.web {
    padding-bottom: 15px;

}

.game {
    padding-bottom: 15px;
}

.ps {
    padding-bottom: 25px;
}

.xbox {
    padding-bottom: 15px;
}

.steam {
    padding-bottom: 15px;
}