body {
    min-height: 100%;
    min-width: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    background-size: cover;
    background: #330d38;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #330d38 0%, #190d36 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear,
            left top,
            right top,
            from(#330d38),
            to(#190d36));
    background: -o-linear-gradient(left, #330d38 0%, #190d36 100%);
    background: linear-gradient(to right, #330d38 0%, #190d36 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#330d38', endColorstr='#190d36', GradientType=1);

}

h1 {
    color: white;
    font-size: 50px;
}

h4 {
    color: white;
    text-transform: uppercase;
}

.profile-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 300px;
    width: 900px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
    margin: 40px 0 20px 300px;
    border-radius: 10px;
}


.profile-image-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}

.profile-info-area {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: -50px;
    padding-bottom: 15px;
}

.profile-card-image {
    width: 180px;
    height: 180px;
    border-radius: 10%;
}

.profile-username-text {
    color: white;
    padding-bottom: 20px;
}

.btn {
    border: none;
    background-color: #ffb320;
    height: 30px;
    border-radius: 10px;
}